@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

html, 
body,
#root, 
.app,
.content {
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::selection {
  color: #FF10F0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1px;
  border: 1px solid transparent;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}


#container {
  display: inline-block;
  margin-left: stretch;
  margin-right: stretch;
  font-size: 0;
  height: 800px;
  width: 800px;
  border: solid 10px grey;
  overflow: hidden;
}

.cell {
  background-color: white;
  border: 1px solid black;
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
}

@media (max-width: 965px) {
  .home-img {
    width: 250px;
  }

  .home-btn-container {
    display: flex;
    flex-direction: column;
  }
  .login-btn {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .signup-btn {
    margin-top: 5px;
    margin-left: 0px;
  }

  .home-heading {
    font-size: 43px;
  }
}

.sticky-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* .about-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
} */

.parallax {
  overflow: hidden;
  position: relative;
  z-index: 0;
  min-height: 75vh;
  display: grid;
  grid-template-areas: "stack";
}

.parallax > * {
  grid-area: stack;
  animation: parallax linear;
  animation-timeline: scroll();
}

.parallax > img {
  width: 100%;
}

.primary-header, .hero {
  --parallax-speed: 10;
  z-index: 6;
}

.main-header {
  --parallax-speed: 0;
  z-index: 99;
}

.hero {
  z-index: 50;
}

.parallax_bg {
  --parallax-speed: 0;
  z-index: -50;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}

.parallax_dust {
  --parallax-speed: -10;
  z-index: -2;
}

.parallax_luna {
  --parallax-speed: 4;
  z-index: 4;
}

.parallax_manny {
  --parallax-speed: 6;
  z-index: 2;
}

.parallax_jax {
  --parallax-speed: 5;
  z-index: 2;
}

.parallax_rays {
  --parallax-speed: 4;
  z-index: -1;
}

.parallax_foreground-front,
.parallax_foreground-back {
  z-index: 5;
  align-self: end;
}

.parallax_foreground-back {
  transform: scaleY(1.2);
  transform-origin: bottom;
  mix-blend-mode: hard-light;
}

@keyframes parallax {
  to {
    transform: 
      translateY(calc(var(--parallax-speed) * 200px));
  }
}

.main-content {
  position: relative;
  z-index: 99;
  background: hsl(238, 100%, 6%);
  padding-block: 10rem;
}

.wrapper {
  width: min(65rem, 100% - 4rem);
  margin-inline: auto;
}

.primary-header {
  padding-block: 2rem;
  z-index: 99
}

.primary-header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_title {
  font-size: 8rem;
  max-width: 10ch;
  line-height: 1;
  font-style: italic;
  font-weight: 900;
  position: relative;

  > span {
    font-style: normal;
    font-size: 0.5em;
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    z-index: -1;
    scale: 2;
    opacity: 0.5;
    filter: blur(5rem);
    translate: -50%;
  }
}

@media screen and (max-width: 942px) {
  .SOME-logo {
      display: none;
  }
  .SOME-logo-front {
    display: none;
  }
}

@media screen and (max-width: 790px) {
  .welcome-user {
    display: none;
  }
}

@media screen and (max-width: 1472px) {
  .pieChart {
    display: grid;
  }
}
